<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>練習 13： YouBike 臺北市公共自行車即時資訊</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		body {
			padding: 1em;
		}

		.page {
			margin-left: 5px;
		}

		.selected {
			color: black;
		}
	</style>

	<script src="https://unpkg.com/vue@next"></script>

</head>

<body>
<p>
	練習 13： YouBike 臺北市公共自行車即時資訊 <br>
	完成下列表格，並加入:
	1. 站點名稱搜尋
	2. 目前可用車輛 / 總停車格 的排序功能
</p>

<hr>

<div id="app">

	<p>
		站點名稱搜尋: <input type="text" v-model="searchName">
	</p>

	<div>
		<a v-show="skipPage!=0" href="#" @click="skip(-1)"><<</a>

		<a class="page"
		   href="#"
		   :class="currentPage===(skipPage*10)+page?'selected':''"
		   v-for="page in 10"
		   @click="selectPage(page)">{{page+(skipPage*10)}}</a>

		<a href="#" @click="skip(1)" v-show="(skipPage+1)*10<total">>></a>
	</div>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>#</th>
			<th>場站名稱</th>
			<th>場站區域</th>
			<th>目前可用車輛
				<i v-show="sortType!='UseAsc'" class="fa fa-sort-asc" aria-hidden="true"
				   @click="sortType = 'UseAsc'"></i>
				<i v-show="sortType!='UseDesc'" class="fa fa-sort-desc" aria-hidden="true"
				   @click="sortType='UseDesc'"></i>
			</th>
			<th>總停車格
				<i v-show="sortType!='TotAsc'" class="fa fa-sort-asc" aria-hidden="true" @click="sortType='TotAsc'"></i>
				<i v-show="sortType!='TotDesc'" class="fa fa-sort-desc" aria-hidden="true"
				   @click="sortType='TotDesc'"></i>
			</th>
			<th>資料更新時間</th>
		</tr>
		</thead>
		<tbody>
		<!-- 請補完 -->
		<template v-for="site in stops">
			<tr>
				<td>{{site.sno}}</td>
				<td>{{site.sna}}</td>
				<td>{{site.sarea}}
				<td>{{site.sbi}}</td>
				<td>{{site.tot}}</td>
				<td>{{site.mday}}</td>
			</tr>
		</template>
		</tbody>
	</table>
</div>


<script>

    // 欄位說明請參照:
    // http://data.taipei/opendata/datalist/datasetMeta?oid=8ef1626a-892a-4218-8344-f7ac46e1aa48
    // 半成品參考: https://kuro.tw/vue-ubike-information/

    // sno：站點代號、 sna：場站名稱(中文)、 tot：場站總停車格、
    // sbi：場站目前車輛數量、 sarea：場站區域(中文)、 mday：資料更新時間、
    // lat：緯度、 lng：經度、 ar：地(中文)、 sareaen：場站區域(英文)、
    // snaen：場站名稱(英文)、 aren：地址(英文)、 bemp：空位數量、 act：全站禁用狀態

    const app = Vue.createApp({
        data() {
            return {
                sortType: "",
                searchName: "",
                source: [],

                currentPage: 1,
                skipPage: 0,
            }
        },
        created() {
            fetch('https://tcgbusfs.blob.core.windows.net/blobyoubike/YouBikeTP.gz')
                .then(res => res.json())
                .then(json => {
                    const stops = Object.keys(json.retVal).map(key => json.retVal[key]);
                    this.source = stops;
                    this.total = stops.length % 10 === 0
                        ? parseInt(stops.length / 10)
                        : parseInt(stops.length / 10 + 1);
                    console.log(this.total)
                });
        },
        computed: {
            stops() {
                var result = this.source.filter(r => r.sna.includes(this.searchName));
                if (this.sortType === "UseAsc")
                    result.sort((a, b) => a.sbi - b.sbi);
                if (this.sortType === "UseDesc")
                    result.sort((a, b) => b.sbi - a.sbi);
                if (this.sortType === "TotAsc")
                    result.sort((a, b) => a.tot - b.tot);
                if (this.sortType === "TotDesc")
                    result.sort((a, b) => b.tot - a.tot);

                const skip = (this.currentPage - 1) * 10;
                return result.slice(skip, skip + 10);
            }
        },
        methods: {
            selectPage(page) {
                this.currentPage = page + (this.skipPage * 10)
            },
            skip(count) {
                this.skipPage += count;
                this.currentPage += count * 10
            }
        }
    }).mount('#app');
</script>

</body>

</html>